<!DOCTYPE html>
<html>
    <head>
        <title>Instascan</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/instascan.min.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <video id="preview"></video>
        <div id="divDestiny">(this is where the text will go)</div>
        <script type="text/javascript">
            let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5 });
            scanner.addListener('scan', function (content) {
                jQuery.get(content, function(data, status){
                    document.getElementById("divDestiny").innerHTML = data.var;
                });
            });
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        </script>
    </body>
</html>