<!DOCTYPE html>
<html>
    <head>
        <title>QR Scanner</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/instascan.min.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>  
    <h1>QR Scanner</h1>
    <h3>IST Information System</h3>
    <a href="/mobile/logout">Logout</a><br>
    <body>
        <br>
        <video id="preview"></video>
        <div id="divDestiny"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scanner.js')}}"></script>
    </body>
</html>