<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canteen Page</title>
</head>
<body>
<h1>Canteen Menu</h1>

<p> Day: {{  day  }} </p>
<ul>
    {% for item in meal %}
        <li> {{ item.type }}: </li>
        {% for i in item.info %}
        <ul>
            <li> Menu: {{ i.menu }} </li>
            <li> Name: {{ i.name }} </li>
            <li> Type: {{ i.type }} </li>
        </ul>
        <br>
        {% endfor %}
    {% endfor %}
</ul>

<form>
<input type="button" value="Return" onclick="history.back()">
</form>

<br>
(Change to the <a href="/web/admin">Admin page</a>)
</body>
</html>