<!DOCTYPE html>
<!-- nao precisa de receber nada -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>IST Information System</h1>

<p>Search information about:</p>
<ul>
    <li><a href="/web/secretariats">Secretariats</a></li>
    <li>Canteen: <form action="/web/canteen" method= "post">
        date: <input type="date" name="day">
        <input type="submit">
    </form></li>
    <li>Rooms <form action="/web/rooms" method="post">
        id: <input type="number" name="id" min="0">
        <input type="submit">
    </form></li>
</ul>

</body>
</html>