<!DOCTYPE html>
<!-- nao precisa de receber nada -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>IST Information System</h1>

<p>Search information about:</p>
<ul>
    <li><a href="/web/secretariats">Secretariats</a></li>
    <li>Canteen: <form action="/web/canteen" method= "get">
        date: <input type="date" name="day" required>
        <input type="submit">
    </form></li>
    <li>Rooms <form action="/web/room" method="get">
        id: <input type="number" name="id" min="0" required>
        <input type="submit">
    </form></li>
</ul>

</body>
</html>