<!DOCTYPE html>
<!-- login(bool), name -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page - Admin</title>
</head>
<body>
<h1>IST Information System - Administration</h1>

{% if login %}
<ul>
    <li><a href="/web/admin/logging">Check logs</a></li>
    <li><a href="/web/admin/secretariats">Change secretariats</a> </li>
</ul>
<br>
<p>Logged in as {{ name }}. <a href="/web/admin/logout">Log out</a>.</p>
{% else %}
<p>Please <a href="/web/admin/signup">Sign Up</a> or <a href="/web/admin/login">Log In</a>.</p>
{% endif %}
</body>
</html>