<!DOCTYPE html>
<!-- info -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ info.name }} Secretariat Page</title>
</head>
<body>
<h1>{{ info.name }}</h1>

<h4>Existing Information:</h4>

<p> Location: {{ info.location }} </p>
<p> Description: {{ info.description }}</p>
<p> Working Hours: {{ info.hours }} </p>

<form action="/admin/secretariats/{{info.id}}" method="POST"> 
<input type="hidden" name="_method" value="PUT">
<fieldset><legend>Update form</legend>
Name: <br>
<input type="text" name="name" value="{{ info.name }}">
<br>
Location:<br>
<input type="text" name="location" value="{{ info.location }}">
<br>
Description:<br>
<textarea name="description" rows="10" cols="30">
{{ info.description }}
</textarea>
<br>
Working Hours:<br>
<textarea name="hours" rows="10" cols="30">
{{ info.hours }}
</textarea>
<input type="submit">
</fieldset>
</form>

<p>Or delete this entrance:</p>
<form action="/admin/secretariats/{{ info.id }}" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>

</body>
</html>