<!DOCTYPE html>
<!-- items -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariats Page</title>
</head>
<body>
<h1>Secretariats</h1>

<p>Existing secretariats (choose one to change its characteristics):</p>
<ul>
{% for item in items %}
    <li> <a href="/web/admin/secretariats/{{item.id}}"> {{ item.name }} </a> </li>
{% endfor %}
</ul>

<h2>Create New Secretariat</h2>
<form action="/web/admin/secretariats" method="POST">
<fieldset><legend>New Secretariat Form</legend>
Name: <br>
<input type="text" name="name">
<br>
Location:<br>
<input type="text" name="location">
<br>
Description:<br>
<textarea name="description" rows="10" cols="30">
</textarea>
<br>
Working Hours:<br>
<textarea name="hours" rows="10" cols="30">
</textarea>
<input type="submit">
</fieldset>
</form>

<br><br>
<p>Logged in as {{ name }}. <a href="/web/admin/logout">Log out</a>.</p>
</body>
</html>