<!doctype html>
<title>Identification</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>Identification</h1>
    <h3>IST Information System</h3>
    <a href="/mobile/logout">Logout</a><br><br>

    <img src="data:{{ user.photo.type }};base64, {{ user.photo.data }}" alt="Student Photo"> <br> 
    Name: {{ user.name }} <br>
    IST-id: {{ user.istid }} <br><br>   
    Your secret: 
    <text id=secret></text>
    <input type="submit" value="Refresh" id="getSecretBtn">
    <br><br>
    Insert given secret:
    <input type="text" placeholder="Secret" id="otherSecret">
    <input type="submit" id="Submit"> <br><br>
    <div id="d1"> </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/id.js')}}"></script>
</body>


