<!DOCTYPE html>
<!-- form-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
</head>
<body>

{% import "bootstrap/wtf.html" as wtf %}

<h1>Sign Up</h1>
<form action="/web/admin/signup" method="POST">
<fieldset>
    <legend>Sign Up Form</legend>
    <!--{{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }} -->
    <input type="submit">
</fieldset>
</form>



Or do you want to <a href='/web/admin/login'>Log In</a> in an existing account? <br>

<form>
<input type="button" value="Previous Page" onclick="history.back()">
</form>

</body>
</html>